/**
 * @file
 *
 * Custom styles for node add list.
 *
 */

ul.admin-list {
  margin: 0;
  padding: 0;
  
}
ul.admin-list  li {
  padding: 0;
  width: 100%;
}
ul.admin-list > li {
  position: relative;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}
.admin-list-item .ct-thumbnail {
  padding-top: 1.5rem;
}
.ct-thumbnail img {
  padding-right: 2.25rem;
}
h3.ct-label {
  display: inline-block;
  margin-top: 1.5rem;
}
.ct-label a {
  display: block;
}
.ct-item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ct-item-container.panel {
  padding: 0 2rem;
}
.admin-list-item .details-container {
  flex: 1 1 40%;
}
.admin-list-item ul {
  padding: 0;
}
.details-container .description,
.details-container .description * {
  margin-left: 0;
  padding-left: 0;
}

.admin-list-item .actions {
  display: flex;
  margin: 2rem 0;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
}
a.button.button--add-content.button--primary {
  /*margin-top: 2rem;*/
}
.admin-list li a.ct-details-link {
  font-weight: bold;
  font-size: 1.0769em;
  background: url(/core/misc/icons/bebebe/chevron-disc-right.svg) no-repeat 1px 16px; /* LTR */
  display: inline-block;
  padding: 14px 15px 14px 25px; /* LTR */
  min-height: 0;
}
[dir="rtl"] .admin-list li a.ct-details-link {
  background: url(/core/misc/icons/bebebe/chevron-disc-left.svg) no-repeat right 16px;
  padding-right: 25px;
  padding-left: 15px;
}


@media all and (min-width: 950px) {
  ul.admin-list {
    max-width: 60%;
  }
  .ct-item-container {
    flex-direction: row;
  }
  
}


